{
    auto_https off
}


http://orchard.fly.dev:8080, :8080 {
    @readonly {
        method GET HEAD OPTIONS TRACE
    }
    rewrite /datasette /datasette/
    rewrite /typesense /typesense/
    handle_path /datasette/* {
        reverse_proxy * http://localhost:5100
    }
    handle_path /typesense/* {
        reverse_proxy @readonly http://localhost:5000
    }
    root * /app/www
    file_server
}