# This is a basic workflow to help you get started with Actions

name: we do a little actions

# Controls when the action will run. 
on:
  # Triggers the workflow on push or pull request events but only for the main branch
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2
      
      ### STEAMCMD ###

      # Preseed agreement to the Steam Licence Agreement
      - name: Preseed agreement to Steam Licence Agreement
        run: |
          echo steam steam/question select "I AGREE" | sudo debconf-set-selections
          echo steam steam/license note '' | sudo debconf-set-selections
          
      # Install SteamCMD, will this really work??
      - name: Install SteamCMD
        run: |
          sudo add-apt-repository multiverse
          sudo dpkg --add-architecture i386
          sudo apt update
          sudo apt install lib32gcc1 steamcmd 
          
      # Runs SteamCMD once so it can upgrade itself
      - name: Run SteamCMD once so it upgrades itself
        run: steamcmd +quit

      ### BLUEBELL ###
      
      # install python3 stuff
      - name: Install python3
        run: sudo apt-get -y install libarchive-tools python3 python3-pip curl sqlite3

      # install bluebell prereqs
      - name: Install bluebell prereqs
        run: sudo pip3 install sanic scrapy dateparser rsa
        
      # test
      - name: test
        run: echo $STEAM_USER | sha1sum
        env:
          STEAM_USER: ${{ secrets.STEAM_USER }}

